.row{
    /* border: 1px solid red; */
}

.col{
    /* border: 1px solid blue; */
}

h1{
    font-weight: bold;
}

body{
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
}

#pantalla{
    background-color: #000;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: right;
    border: 2px solid #fff;
    padding: .8em;
}

#pantalla h2{
    font-size: 3em;
    margin: 0;
}

.boton{
    height: 4.5em;
    background-color: #6195ec;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.5em;
    font-weight: bold;
    /* padding: 0; */
    /* margin: 0; */

    border: 2px solid #fff;
}

.boton:active{
    filter: brightness(90%);
}